.about-text{
  margin: auto;
  width:80%;
  padding-top: 50px;
}
  .about-text h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 30px 0;
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  .about-text h1{
    font-weight: 400;
  }
  .a-container{
    width: 85%;
    margin: auto;
  }
  .aboutCard h1,.mission h1 {
    font-weight: 400;
  }
  .aboutCard h1 span {
    font-weight: bold;
  }
  .aboutCard .row1 {
    padding-right: 30px;
  }
  .aboutCard .image {
    position: relative;
  }
  .img-mov{
    position:absolute;
    animation: imgmov 3s linear 1;
  }
  @keyframes imgmov {
    from{right: -100px;
    opacity: 0;}
    to{right:0;
    opacity: 1;}
  }
  .img-mov2{
    position:absolute;
    animation: imgmov2 3s linear ;
  }
  @keyframes imgmov2 {
    from{left: -100px;
    opacity:0;}
    to{left:0;
    opacity:1;}
  }
  .features .flex_space {
    flex-direction: row-reverse;
  }
  .features{
    margin-bottom:50px;
  }
  .features img {
    width: 90%;
  }
  .features h1 {
    font-size: 35px;
    font-weight: 400;
  }
  .mission h1{
    padding:30px 0;
  }
  .mission{
    background-image: url(https://www.tylertech.com/Portals/0/OpenContent/Files/25737/MVV-Mission-Climbers-Mountain-Snow-Mountaineers-ORIGINAL.jpg?format=jpg&quality=80);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    margin: 50px 0;
    height:400px;
  }
  .aboutCard p,.features p {
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .mission p{
    width:50%;
    letter-spacing: 1px;
    font-size: 1.25rem;
    margin:auto;

  }
  @media screen and (max-width: 1200px){
    .a-container{
      width: 95%;
    }
    .mission p{
      width:70%;   
      font-size: 1.2rem;
    }
    .mission h1{
      padding:10px 0;
    }
    .mission{
      width:100%;
      background-attachment:scroll;
    }
    .img-mov,.img-mov2{
      position:relative;
    }
  }
  @media screen and (max-width: 768px) {
    .features .flex_space,
    .aboutCard {
      display: block;
    }
    .about-text{
      width:90%;
    }
    .mission p{
      width:90%;   
      font-size: 1rem;
    }
    .aboutCard .row {
      width: 100%;
    }
    .aboutCard img {
      width: 100%;
    }
  }
  @media screen and (max-width: 580px){
    .features h1 {
      font-size: 30px;
    }
    .aboutCard p,.features p {
      font-size: 1rem;
    }
    .about-text h2{
      font-size: 1.25rem;
    }
    .a-container{
      width:100%;
    }
  }