form textarea,
form input {
  width: 100%;
  border: 2px solid #ececec;
  margin-top: 10px;
}
.contact-container{
  width:90%;
  display:flex;
  margin:auto;
}
.contact-form{
  margin:100px auto;
}
.contact-form span {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
form span label {
  color: crimson;
}
form .primary-btn {
  padding: 15px 40px;
  font-size: 18px;
}
.contact-form p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0;
}
/*-----------side-content-----------*/
.side-content{
  background-image: url(https://images.pexels.com/photos/4652275/pexels-photo-4652275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  padding:40px 20px 10px;
  margin-bottom: 15px;
  color:white;
}
.side-content iframe{
  box-shadow: 0 2px 4px rgb(4, 4, 4);
}
.side-content h1{
  margin:30px 0 5px 0;
}
.con-icon i{
  font-size: 2rem;
  margin:5px 15px;
  cursor: pointer;
}

figure {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px){
  .con-icon i{
    margin:5px 5px;
  }
}
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .side-content{
    text-align: center;
  }
  .con-icon i{
    margin:10px 20px;
  }
}
@media(max-width:580px){
 
  .contact-form span {
    font-size: 0.75rem;
  }
  .contact-form p {
    font-size: 1rem;
  }
  .side-content h1{
    font-weight: 400;
  }
  form .primary-btn {
    padding: 10px 10px;
    font-size:1rem;
  }
}