.g-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
  }
.gallery {
    margin:50px 0;
  }
  .gallery img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
  }
  .gallery .g-items {
    width:30%;
    margin:30px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgb(89, 89, 89);
    text-align: center;
    animation: gal 1s linear 1;
  }
  @keyframes gal {
    0%{
      transform: scale(0.7);
    }
    100%{
      transform: scale(1);
    }
    
  }
  .gallery h2 {
    margin: 10px 0 10px 0;
    font-weight: 400;
  }
  .gallery .g-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 252px;
  }
  .gallery i {
    position: absolute;
    top: 40%;
    left: 43%;
    z-index: 5;
    font-size: 3rem;
    color: white;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .gallery .g-img::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 95%;
    height: 90%;
    z-index: 3;
    border: 2px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .gallery .g-items:hover img{
    transform: scale(1.05);
    cursor: pointer;
  }
  .gallery .g-items:hover i,
  .gallery .g-items:hover .g-img::after,
  .gallery .g-items:hover .g-img::before {
    opacity: 1;
    cursor: pointer;
  }
  .popup {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 8;
  }
  .hide {
    width: 100v;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .popup-content {
    position: absolute;
    top: 15%;
    left: 25%;
  }
  .popup-content img{
    margin-top: 70px;
    height:60vh;
  }
  .popup button {
    background-color: #fff;
    padding: 15px 15px;
    color: #000;
    position: absolute;
    font-size: 1.25rem;
  }
  @media screen and (max-width: 1200px){
    .gallery .g-items {
        width:40%;
        margin:30px 0;
      }
      .g-container {
        width: 100%;
      }
      .popup-content {
        top: 10%;
        left: 15%;
      }
  }
  @media screen and (max-width: 768px) {
    .gallery .g-container {
      width: 100%;
    }
    .gallery .g-items {
        width:60%;
      }
    .gallery .g-img {
      width: 100%;
      height: 220px;
    }
    .popup-content {
      width:100%;
      top: 15%;
      left:0;
    }
  }
  @media(max-width:580px){
    .gallery .g-items {
        width:80%;
      }
      .popup button {
        padding: 10px 10px;
        font-size: 1rem;
      }
  }