
  .row{
    width:100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .dcards{
    float:left;
  }
  .card{
    margin:20px;
  }
  .card:hover{
    transform: scale(1.15);
    transition: all 1s;
  }

  .card img{
    height:250px;
  }
  .hheading{
    background-color: #aadcdb;
    text-align: center;
    padding: 30px 0;
  }
  .popular .rate i {
    margin: 2px;
  }
  .popular .content {
    margin-bottom: 50px;
  }
  
 